<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<div>
    <form action="/user/addUser" method="post">
    <input type="text" id="userName" name="userName" placeholder="请输入用户名.....">
    <input type="password" id="passWord" name="passWord" placeholder="请输入密码.....">
    <input type="text" id="userPhone" name="userPhone" placeholder="请输入手机号码.....">
    <input type="text" id="userEmail" name="userEmail" placeholder="请输入邮箱.....">
    <input type="submit" class="button" value="注册">
    <input type="reset" class="button" value="重置">
    </form>
</div>

</body>
</html>