<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkdj.order.mapper.OrderMapper">
    <insert id="insert" parameterType="com.zkdj.order.domain.Order">
            insert  into orders(order_number,order_create_time,order_remark,user_id,order_money,order_update_time) values (#{orderNumber},now(),#{orderRemark},#{userId},
            #{orderMoney},now()
            )
    </insert>
    <update id="update" parameterType="com.zkdj.order.domain.Order">
        update orders set
   order_create_time=now(),
   order_remark=#{orderRemark},
   user_id=#{userId},
   order_money=#{orderMoney},
   order_update_time=now()  where order_number=#{orderNumber}

    </update>
    <delete id="deleteByNum" parameterType="java.lang.String">
        delete from orders where order_number=#{orderNumber}
    </delete>

    <select id="seletByAll" resultType="com.zkdj.order.domain.Order">
         select * from orders
    </select>
<!--    <select id="selectById" parameterType="java.lang.Integer" resultType="java.lang.Integer">-->
<!--        select * from orders where   order_id=#{orderId}-->
<!--    </select>-->
    <select id="selectPages"  parameterType="com.zkdj.order.domain.Order" resultType="com.zkdj.order.domain.Order">
        select * from orders
    </select>

    <select id="selectByLike"  parameterType="com.zkdj.order.domain.Order" resultType="com.zkdj.order.domain.Order">
        select
        order_id,
        order_number,
        order_create_time,
        order_remark,
        user_id,
        order_money,
        order_update_time,
        order_state from orders
        <where>
            <if test="orderNumber !=null and orderNumber!=''">
             order_number like concat('%',#{orderNumber},'%')
             </if>
        </where>
    </select>
    <select id="selectByNum"  parameterType="java.lang.String" resultType="com.zkdj.order.domain.Order">
        select * from orders where   order_number=#{orderNumber}
    </select>
    <select id="selectById"  parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select * from orders where   order_id=#{orderId}
    </select>


    <select id="findOrderByUserId" resultType="com.zkdj.order.domain.Order">
        select * from orders where user_id=#{userId}
    </select>
</mapper>